@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: url(../assets/bg.svg);
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.w-fulll {
  width: 32%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
